.card {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border : 1px solid gray
}


.exit-btn {
    background-color: red;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    color: white;
}