* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container-game {
  display: flex;
  gap: 1rem;
  margin-top: 15px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10,50px);
  gap: 0.2rem;
}


.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 0.5rem;
}


.operator-card {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #89ddff;
  color: white;
}